
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
	  <li role="presentation" class="active"><a href="#hot" role="tab" data-toggle="tab">Hot</a></li>
	  <li role="presentation"><a href="#ultimos" role="tab" data-toggle="tab">Últimos</a></li>
	</ul>
	
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="hot">
			<div class="list-group" id="hot-link">
				<% Content.order(score: :desc).limit(10).each do |c| %>
					<%= link_to show_content_path(c), class: "list-group-item" %>
				<% end %>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="ultimos">
			<div class="list-group" id="ultimo-link">
				<% Content.order(created_at: :desc).limit(10).each do |c| %>
					<%= link_to show_content_path(c), class: "list-group-item" %>
				<% end %>
			</div>
		</div>
	</div>
</div><!--/.sidebar-offcanvas-->

