
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
	  <li role="presentation" class="active"><a href="#hot" role="tab" data-toggle="tab">Hot</a></li>
	  <li role="presentation"><a href="#ultimos" role="tab" data-toggle="tab">Últimos</a></li>
	</ul>
	
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="hot">
			<div class="list-group" id="hot-link">
				<a href="#" class="list-group-item active">Hot Link</a>
				<a href="topic.html" class="list-group-item">Problema com Redirecionamento</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="ultimos">
			<div class="list-group" id="ultimo-link">
				<a href="#" class="list-group-item active">últimos Link</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="topic.html" class="list-group-item">Problema com Redirecionamento</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
			</div>
		</div>
	</div><!--/.tab-content">
</div><!--/.sidebar-offcanvas-->

