
  <%= render "shared/header" %>
   
   <div class="container" style = "margin-top: 50px;" ng-app="sharedApp" ng-controller="SharedController" ng-view>
      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Sobre</h1>
              <span>Unifesp SHARED</span> é um trabalho desenvolvido para a disciplina de Laboratório de Usabilidade Web, pelos alunos:
              <p>Daniel Gracia</p>
              <p>Matheus Ferreira Mendonça</p>
              <p>Rafael Capucho</p>
              <hr class="prettyline">
              <h3>Tecnologias e bibliotecas utilizadas:</h3>
              Ruby-on-Rails, PostgreeSQL, HTML5, Jquery, Bootstrap 3, Twitter's Typeahead, TinyMCE
              <hr class="prettyline">
              Esse trabalho é OpenSource e se encontra disponível através de um repositório Git: <a href="https://github.com/danielgracia/LUW"> Trabalho do Laboratório de Usabilidade Web - UNIFESP </a>
          </div>
          
        </div><!--/.col-xs-12.col-sm-9-->
     <!-- LOAD TEMPLATE OF TRENDS TOPICS -->
       <%= render "shared/trends" %>
      </div><!--/row-->

      <hr>

      

    </div><!--/.container-->
  <!-- LOAD TEMPLATE OF TRENDS TOPICS -->
       <%= render "shared/footer" %>


