@charset "utf-8";
/*
 * Style tweaks
 * --------------------------------------------------
 */
.panel-footer{
	padding-bottom: 30px !important;
}

.panel-heading{
	padding-bottom: 100px !important;
}

.panel-body{
	word-wrap: break-word;
	overflow:auto;
}

.img-thumbnail{
	margin: 2px 15px 15px 5px !important;

}

.comment-heading{
	padding-bottom: 70px !important;
}

.full-width{
	width: 100% !important;
}

.half-width{
	width: 50% !important;
}

.fourth-width{
	width: 40% !important;
}

.no-padding{
	padding: 0px !important;
}

.jumbotron-padding{
	padding-top: 10px !important;
	padding-bottom: 10px !important;

}