@charset "utf-8";
/*
 * Style tweaks
 * --------------------------------------------------
 */
.panel-footer{
	padding-bottom: 30px !important;
}

.panel-heading{
	padding-bottom: 100px !important;
}

.panel-body{
	word-wrap: break-word;
	overflow:auto;
}

.img-thumbnail{
	margin: 2px 15px 15px 5px !important;

}

.comment-heading{
	padding-bottom: 70px !important;
}